:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg-color: #ffffff;
    --nav-text-color: #555;
    --nav-text-hover-color: #000;
    --button-bg-color: #212121;
    --button-text-color: #ffffff;
    --hero-bg-color: #eaeaea;
    --authors-text-color: #777;
    --button-bg-hover-color: #252525;
    --h1-h2-color: #000000;
    --sidebar-category-text-color: #dddada;
    --product-card-bg-color: #f7f7f7;
    --summary-color:#000;
    --post-container-p-color:#4a4a4a;
}

body.dark-theme {
    --bg-color: #09090b;
    --text-color: #ffffff;
    --header-bg-color: #18181b;
    --hero-bg-color: #1f1f20;
    --nav-text-color: #bbb;
    --nav-text-hover-color: #ffffff;
    --button-bg-color: #343435;
    --button-text-color: #ffffff;
    --authors-text-color: #bbb;
    --button-bg-hover-color: #252525;
    --h1-h2-color: #fafafa;
    --sidebar-category-text-color: #fff;
    --product-card-bg-color: #353131;
    --summary-color:#fff;
    --post-container-p-color:#fdfdfd;
}

body {
    display: block;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.no-transition {
    transition: none !important;
}

/* 顶部导航栏 */
.header {
    display: flex;
    height: 37px;
    padding: 17px;
    align-items: center;
    justify-content: left;
    padding-left: 20%;
    background-color: var(--header-bg-color);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
}

.header.hidden {
    transform: translateY(-100%);
}


.nav {
    font-size: 17.3px;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--nav-text-color);
    text-decoration: none;
}

.nav a.active {
    color: var(--nav-text-hover-color);
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    color: var(--nav-text-hover-color);
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo-img {
    width: 33px;
    height: 33px;
    border-radius: 50px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    height: 399px;
    align-items: center;
    justify-content: center;
    background-color: var(--hero-bg-color);
}

.hero-logo {
    width: 100px;
}

.hero h1 {
    font-size: 24px;
    max-width: 600px;
    margin: 20px auto;
}

.main-content {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-post {
    display: flex;
    align-items: center;
    margin: 3.6% auto 3%;
    width: 30%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

.featured-image {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 12px;
    object-fit: cover;
}

.featured-post h3 {
    color: #3d405f;
}

.post-content {
    width: 50%;
    text-decoration: none;
    color: inherit;
    padding-left: 20px;
}

.post {
    display: flex;
    align-items: center;
}

.post img {
    width: 100px;
    margin-right: 20px;
}

.post-info {
    max-width: 500px;
}

.featured-post h2 {
    margin-top: 0;
}

.authors {
    font-weight: bold;
    color: var(--authors-text-color);
}

.post-info h3 {
    margin: 10px 0;
}

.latest-post-and-sidebar {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    align-items: flex-start;
}

.latest-post img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    object-fit: cover;
}

.latest-posts {
    width: 73%;
    margin-left: 27%;
    max-width: 800px;
    margin-right: auto;
}

.latest-posts a {
    flex: 1;
    text-decoration: none;
    width: 100%;
}

.latest-post {
    display: flex;
    align-items: center;
    margin: 2% 0;
    width: 100%;
    /* background-color: transparent; */
    box-shadow: 0 4px 8px rgba(116, 115, 115, 0.1);
    overflow: hidden;
    padding: 0;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.latest-post:hover {
    box-shadow: 0 0 15px rgba(194, 193, 193, 0.5);
}


.latest-post h2 {
    margin-top: 0;
}

.latest-post p {
    color: #3c3c3d;
}

.latest-post .latest-post-image-container {
    width: 330px;
    height: 7%;
    border-radius: 30px;
    overflow: hidden;
}

.latest-post .latest-post-image {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    object-fit: cover;
}

.latest-post .post-info {
    max-width: calc(100% - 100px);
}

.sidebar {
    margin-right: 18%;
    border-radius: 8px;
    position: sticky;
    z-index: 100;
}


.sidebar .categories {
    display: flex;
    margin-left: 37px;
    flex-direction: column;
}

.sidebar .category {
    height: 30px;
    color: inherit;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    transition: all 0.3s ease;
}

.sidebar .category img {
    left: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
}

.sidebar .category::before {
    margin-right: 10px;
    color: var(--text-color);
}

.sidebar .category:hover {
    color: var(--sidebar-category-text-color);
}

.theme .switchTheme {
    width: 100px;
    height: 37px;
    border: none;
    margin-top: 10px;
    margin-left: 12px;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
}

.theme .switchTheme:hover {
    /* transform: scale(1.1); */
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
}

h1,
h2 {
    color: var(--h1-h2-color);
}

/* 字体 */
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/woff2/PingFangSC-Medium.woff2') format('woff2'),
        url('../fonts/ttf/PingFangSC-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 设置全局字体 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
li,
ul,
ol,
table,
th,
td,
input,
textarea,
button {
    font-family: 'CustomFont', 'PingFang SC', 'Helvetica', 'Arial', sans-serif !important;
}

/* 设置导航栏字体 */
.navbar,
.navbar a {
    font-family: 'CustomFont', 'PingFang SC', 'Helvetica', 'Arial', sans-serif;
}



/* 每篇文章的css控制 */
.post-container {
    width: 70%;
    max-width: 950px;
    padding: 20px;
    background-color: #fff;
    margin: 60px auto;
}

.post-container p {
    font-size: 23px;
    line-height: 2;
    margin-bottom: 30px;
    color: var(--post-container-p-color);
}

.post-container h1 {
    font-size: 37px;
}


/* END */
/* More */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    right: 22px;
    gap: 20px;
    padding-left: 20%;
    padding-right: 20%;
    max-width: 60%;
}

.product-card {
    background-color: var(--product-card-bg-color);
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(224, 78, 78, 0.1);
    overflow: hidden;
    text-align: center;
    height: 260px;
    padding-top: 1vh;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.product-card img {
    width: auto;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product-card h3 {
    color: #5c5b5b;
    margin: 10px 0;
}

.product-card p {
    color: #9d9d9d;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-card .price {
    font-size: 16px;
    color: #9d9d9d;
}

/* END */
/* 微信登录功能CSS代码 */
details {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

summary {
    color: var(--summary-color);
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

code {
    display: block;
    white-space: pre-wrap;
    margin-top: 10px;
}
/* END */
