---
---
@import "jekflix";

.post {
    display: flex;
    justify-content: center;
}

section.post.two-columns {
    max-width: 60%;
    margin: 0 auto;
}

.post-content {
    max-width: 2900px;
    width: 2200px;
    margin: 0 auto;
    padding: 10px;
}
